body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer {
  font-size: 60px;
  background-color: green;
}

span {
  font-size: 20px;
}

div {
  font-size: 30px;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }

  div {
    font-size: 20px;
  }
}