@import"fonts";




body{
	display: flex;
	footer{
		font-size: 60px;
		background-color: green;
	}
}

span{
	font-size: 20px;
	@media(max-width: 767px){
		font-size: 15px;
	}
}
div{
	font-size: 30px;
	@media(max-width: 767px){
		font-size: 20px;
	}
}